/*main.css*/

body {
  font-size: 21px !important;
}

a, a:hover {
  color: #fff;
  text-decoration: none;
}
/* main class*/
.card, .card:hover {
	height: 40px;
	display: inline-block;
	border-radius: 5px;
	color: #fff;
  text-decoration: none;
}

.socialimg {
  margin-top: 4px;
  margin-left: 4px;
  width: 32px;
  height: 32px;
  float: left;
}

.twitch.socialimg {
  margin-top: 4px;
  margin-left: 6px;
  width: 28px;
  height: 28px;
}
.socialname {
  margin: 4px 6px 4px 3px;
  float: left;
}

.name {
  margin: 4px 6px 4px 6px;
  float: left;
}

.namecard {
  text-align: center;
}

.linus.namecard {
  background-color: rgb(219,65,5);
}

.luke.namecard {
  background-color: rgb(219,65,5);
}
/*Youtube classes*/
.card.youtube {
  background-color: rgb(229,45,39);
  min-width: 200px !important;
}

.card.twitter {
  background-color: #55acee;
}

.card.twitch {
  background-color: rgb(83,59,121);
}

.card.instagram {
  background-color: #3f729b;
}

.card.forum {
  background-color: rgb(219,65,5);
}
