/*main.css*/

body {
  font-size: 21px !important;
}

/*desccard classes*/
p.desc.card, p.desc.card:hover {
  color: #000;
  text-decoration: none;
}

.desc.card {
  border: 1px solid #ccc;
  width: 200px;
  margin: 0 auto;
}

p.desc.name {
  width: calc(100% - 12px);
  color: #333;
  text-align: center;
}

/*card classes*/
.card, .card:hover {
	height: 40px;
	display: inline-block;
	border-radius: 5px;
	color: #fff;
  text-decoration: none;
}

.card.youtube {
  background-color: rgb(229,45,39);
  min-width: 200px !important;
}

.card.twitter {
  background-color: #55acee;
}

.card.twitch {
  background-color: rgb(83,59,121);
}

.card.instagram {
  background-color: #3f729b;
}

.card.forum {
  background-color: rgb(219,65,5);
}

/*img classes*/
.socialimg {
  margin-top: 4px;
  margin-left: 4px;
  width: 32px;
  height: 32px;
  float: left;
}

.youtube.socialimg {
  margin
}

.twitch.socialimg {
  margin-left: 6px;
  width: 28px;
  height: 28px;
}

/*name classes*/
.socialname {
  margin: 4px 6px 4px 3px;
  float: left;
}

.employee.name, p.desc.name {
  margin: 4px 6px 4px 6px;
  float: left;
}

/*namecard classes*/
.namecard {
  text-align: center;
}

.linus.namecard {
  background-color: rgb(219,65,5);
}

.luke.namecard {
  background-color: rgb(219,65,5);
}
